html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #C1BCB7;
  color: #35322c;
  font-family: 'Nunito', Helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.25s ease-in-out;
}

button:focus {
  outline: none;
}